.json-wrapper {
    transition: height 0.3s ease;
    overflow: hidden;
}

.json-wrapper.expanded {
    height: 90vh;
    overflow: scroll;
}

.btn-expand-bottom {
    margin: 5px 36px 0px 2px;
    padding: 2px 0 1px 0;
    float: right;
    color: #060606;
    border: none;
    cursor: pointer;
    background-color: white;
}

.material-icons {
    font-size: 35px;
}

.json-heading {
    background: #ffb60094;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 5px;
    max-width: 80%;
    padding: 1rem 20px;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .json-heading {
        font-size: 1.5em;
    }
}

.textarea-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.json-text-area {
    height: auto;
    width: 86%;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
    padding: 11px;
}

.btn-container {
    display: inline-block;
    margin: 0;
}

.btn-container .btns-jsontool {
    color: #080707;
    background: #0065ffa3;
    margin: 4px;
    font-weight: bold;
}

.btn-container .btns-jsontool:hover {
    background-color: #0065ff78;
}
