.json-compare-wrapper {
    transition: height 0.3s ease;
    overflow: hidden;
}

.json-compare-wrapper.expanded {
    height: 102vh;
    overflow: scroll;
}

.btn-expand-top {
    margin: 5px 2px 0px 24px;
    padding: 2px 0 1px 0;
    float: left;
    color: #060606;
    border: none;
    cursor: pointer;
    background-color: white;
    transform: rotate(180deg)
}

.json-compare-heading {
    background: #ffb60094;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 5px;
    max-width: 80%;
    padding: 1rem 20px;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .json-compare-heading {
        font-size: 1.5em;
    }
}

.textareas-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.diff-text-area-left,
.diff-text-area-right {
    flex: 1;
    margin: 0 5px;
}

.diff-text-area-left {
    height: 14rem;
    width: 86%;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
    padding: 11px;
}
.diff-text-area-right {
    height: 14rem;
    width: 86%;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
    padding: 11px;
}

.btn-container .btns-jsoncompare {
    color: #080707;
    background: #0065ffa3;
    margin: 4px;
    font-weight: bold;
}

.btn-container .btns-jsoncompare:hover {
    background-color: #0065ff78;
}